[access]
	inheritFrom = All-Projects
[project]
	description = TCP-MD5 Support library
[access "refs/*"]
	owner = group ldap/gerrit-tcpmd5-commiters
	read = deny group GitHub Replication
	read = group Anonymous Users
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-tcpmd5-commiters
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group ldap/gerrit-tcpmd5-commiters
[access "refs/heads/*"]
	create = group Non-Interactive tcpmd5 users
	forgeAuthor = group Non-Interactive tcpmd5 users
	forgeCommitter = group Non-Interactive tcpmd5 users
	push = group Non-Interactive tcpmd5 users
	pushMerge = group Non-Interactive tcpmd5 users
	label-Code-Review = -2..+2 group ldap/gerrit-tcpmd5-commiters
	label-Code-Review = -1..-1 group Non-Interactive tcpmd5 users
	label-Code-Review = -1..-1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive tcpmd5 users
	label-Verified = -1..+1 group ldap/gerrit-tcpmd5-commiters
	submit = group ldap/gerrit-tcpmd5-commiters
[access "refs/tags/*"]
	create = group ldap/gerrit-tcpmd5-commiters
	forgeCommitter = group Non-Interactive tcpmd5 users
	push = group Non-Interactive tcpmd5 users
	push = group ldap/gerrit-tcpmd5-commiters
	pushTag = group Non-Interactive tcpmd5 users
	pushTag = group ldap/gerrit-tcpmd5-commiters
