[access]
	inheritFrom = All-Projects
[project]
	description = TCP-MD5 Support library - This project has moved to an ARCHIVED state per the TSC vote on 2017-06-15. See: https://meetings.opendaylight.org/opendaylight-meeting/2017/tsc/opendaylight-meeting-tsc.2017-06-15-17.00.html Section 9.g
	state = read only
[access "refs/*"]
	owner = group ldap/gerrit-tcpmd5-commiters
	read = group GitHub Replication
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/beryllium:refs/heads/stable/beryllium
